/* Modify display of edited tags from MessageLogger */
.messagelogger-edited time span {
    font-size: 0;
    line-height: 1;
    user-select: none;
}
.messagelogger-edited time span:before {
    font-size: 0.625rem;
    content: "✏️  ";
    display: inline-block;
    transform: scaleX(-1);
}

/* Modify display of deleted tags from MessageLogger */
.messagelogger-deleted time span {
    font-size: 0;
    line-height: 1;
    user-select: none;
}
.messagelogger-deleted time span:first {
    font-size: 0.625rem;
    content: "🗑️  ";
    display: inline-block;
    transform: scaleX(-1);
}
