@import url("https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap");
@keyframes devbadge {
  0% {
    background-image: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/dev/dev1.png");
  }
  6.25% {
    background-image: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/dev/dev2.png");
  }
  12.5% {
    background-image: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/dev/dev3.png");
  }
  18.75% {
    background-image: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/dev/dev4.png");
  }
  25% {
    background-image: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/dev/dev5.png");
  }
  31.25% {
    background-image: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/dev/dev6.png");
  }
  37.5% {
    background-image: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/dev/dev7.png");
  }
  43.75% {
    background-image: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/dev/dev8.png");
  }
  50% {
    background-image: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/dev/dev9.png");
  }
  56.25% {
    background-image: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/dev/dev10.png");
  }
  62.5% {
    background-image: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/dev/dev11.png");
  }
  68.75% {
    background-image: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/dev/dev12.png");
  }
  75% {
    background-image: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/dev/dev13.png");
  }
  81.25% {
    background-image: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/dev/dev14.png");
  }
  87.5% {
    background-image: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/dev/dev15.png");
  }
  93.75% {
    background-image: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/dev/dev16.png");
  }
  100% {
    background-image: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/dev/dev1.png");
  }
}
@keyframes dance {
  10%,
  90% {
    transform: translate(-0.5px) scale(1.5);
  }
  20%,
  80% {
    transform: translate(1px) scale(1.5);
  }
  30%,
  50%,
  70% {
    transform: translate(-2px) scale(1.5);
  }
  40%,
  60% {
    transform: translate(2px) scale(1.5);
  }
}

.container-1gYwHN > * {
  justify-content: flex-end;
  margin: var(--badge-margin);
}

.anchor-anchor-1X4H4q.anchorUnderlineOnHover-wiZFZ_ > img {
  height: var(--badge-size) !important;
  width: var(--badge-size) !important;
}
/* Hype Squad Badges*/
img[src="https://cdn.discordapp.com/badge-icons/bf01d1073931f921909045f3a39fd264.png"] {
  transition-delay: 2s;
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url("https://cdn.discordapp.com/badge-icons/bf01d1073931f921909045f3a39fd264.png");
}
a:hover > img[src="https://cdn.discordapp.com/badge-icons/bf01d1073931f921909045f3a39fd264.png"] {
  background-image: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/hype/events.gif");
  transform: translateY(-1.5px);
  transition-delay: 0s;
}
a[aria-label*="HypeSquad"] > img {
  transition-duration: 0.4s;
  transform: scale(1.15);
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
}
a[aria-label*="HypeSquad"]:hover > img {
  filter: drop-shadow(0px 0px 2px var(--hypesquad-colour));
}
a:hover > img[src="https://cdn.discordapp.com/badge-icons/8a88d63823d8a71cd5e390baa45efa02.png"] {
  --hypesquad-colour: rgb(156, 132, 239);
  background-image: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/hype/bravery.png");
  transform: scale(1.35);
}
a:hover > img[src="https://cdn.discordapp.com/badge-icons/011940fd013da3f7fb926e4a1cd2e618.png"] {
  --hypesquad-colour: rgb(244, 123, 103);
  background-image: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/hype/brilliance.png");
  transform: scale(1.35);
}
a:hover > img[src="https://cdn.discordapp.com/badge-icons/3aa41de486fa12454c3761e8e223442e.png"] {
  --hypesquad-colour: rgb(69, 221, 192);
  background-image: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/hype/balance.png");
  transform: scale(1.35);
}
img[src="https://cdn.discordapp.com/badge-icons/8a88d63823d8a71cd5e390baa45efa02.png"] {
  background-image: url("https://cdn.discordapp.com/badge-icons/8a88d63823d8a71cd5e390baa45efa02.png");
}
img[src="https://cdn.discordapp.com/badge-icons/011940fd013da3f7fb926e4a1cd2e618.png"] {
  background-image: url("https://cdn.discordapp.com/badge-icons/011940fd013da3f7fb926e4a1cd2e618.png");
}
img[src="https://cdn.discordapp.com/badge-icons/3aa41de486fa12454c3761e8e223442e.png"] {
  background-image: url("https://cdn.discordapp.com/badge-icons/3aa41de486fa12454c3761e8e223442e.png");
}
/* Nitro badge */
img[src="https://cdn.discordapp.com/badge-icons/2ba85e8026a8614b640c2837bcdfe21b.png"] {
  transition-duration: 1s;
  filter: contrast(1) hue-rotate(0deg);
}
a:hover > img[src="https://cdn.discordapp.com/badge-icons/2ba85e8026a8614b640c2837bcdfe21b.png"] {
  transform: scale(1.2);
  filter: contrast(1.2) hue-rotate(-390deg);
}
/* Booster badges */
a:hover > img[src="https://cdn.discordapp.com/badge-icons/51040c70d4f20a921ad6674ff86fc95c.png"],
a:hover > img[src="https://cdn.discordapp.com/badge-icons/0e4080d1d333bc7ad29ef6528b6f2fb7.png"],
a:hover > img[src="https://cdn.discordapp.com/badge-icons/72bed924410c304dbe3d00a6e593ff59.png"],
a:hover > img[src="/assets/ce54a4f8c0e133a6f2d60336e7acac7d.svg"],
a:hover > img[src="/assets/c0c9db2de008e61a1a720581ca175fa1.svg"],
a:hover > img[src="https://cdn.discordapp.com/badge-icons/cb3ae83c15e970e8f3d410bc62cb8b99.png"],
a:hover > img[src="/assets/ba38c1c57dfccb94127e53b7ac502a90.svg"],
a:hover > img[src="/assets/42ecb902decfc8e83a7446a0904b1e18.svg"],
a:hover > img[src="https://cdn.discordapp.com/badge-icons/df199d2050d3ed4ebf84d64ae83989f8.png"] {
  content: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/nitro/booster.gif");
}
img[src="https://cdn.discordapp.com/badge-icons/51040c70d4f20a921ad6674ff86fc95c.png"],
img[src="https://cdn.discordapp.com/badge-icons/0e4080d1d333bc7ad29ef6528b6f2fb7.png"],
img[src="https://cdn.discordapp.com/badge-icons/72bed924410c304dbe3d00a6e593ff59.png"],
img[src="/assets/ce54a4f8c0e133a6f2d60336e7acac7d.svg"],
img[src="/assets/c0c9db2de008e61a1a720581ca175fa1.svg"],
img[src="https://cdn.discordapp.com/badge-icons/cb3ae83c15e970e8f3d410bc62cb8b99.png"],
img[src="/assets/ba38c1c57dfccb94127e53b7ac502a90.svg"],
img[src="/assets/42ecb902decfc8e83a7446a0904b1e18.svg"],
img[src="https://cdn.discordapp.com/badge-icons/df199d2050d3ed4ebf84d64ae83989f8.png"] {
  height: calc(var(--badge-size) - 2.59px) !important;
  width: calc(var(--badge-size) - 2.59px) !important;
  /* transform: translate(0.5px, 1.9px); */
}
/* Early Supporter */
img[src="https://cdn.discordapp.com/badge-icons/7060786766c9c840eb3019e725d2b358.png"] {
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url("https://cdn.discordapp.com/badge-icons/7060786766c9c840eb3019e725d2b358.png");
  transition-duration: 0.5s;
}
a:hover > img[src="https://cdn.discordapp.com/badge-icons/7060786766c9c840eb3019e725d2b358.png"] {
  transform: scale(1.16);
}
a[aria-label*="Early Supporter"]:hover::after {
  transform: scale(1) translate(12.5px, -11px);
}
a[aria-label*="Early Supporter"]::after {
  background-color: transparent;
  content: "â¤";
  color: #dd504d;
  position: absolute;
  z-index: 100000;
  font-size: calc(var(--badge-size) * 0.5454);
  transform: scale(0) translate(50px, -100px);
  transition-duration: 0.5s;
}
/* Verified dev */
a:hover > img[src="https://cdn.discordapp.com/badge-icons/6df5892e0f35b051f8b61eace34f4967.png"] {
  animation: devbadge 5s infinite normal linear;
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
}
/* Active dev */
a > img[src="https://cdn.discordapp.com/badge-icons/6bdc42827a38498929a4920da12695d9.png"] {
  transition-duration: 0.4s;
  transform: scale(1.15);
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
}
a:hover > img[src="https://cdn.discordapp.com/badge-icons/6bdc42827a38498929a4920da12695d9.png"] {
  filter: drop-shadow(0px 0px 2px var(--activedev-colour));
}
a:hover > img[src="https://cdn.discordapp.com/badge-icons/6bdc42827a38498929a4920da12695d9.png"] {
  --activedev-colour: rgb(46, 169, 103);
  background-image: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/activedev/activedev.png");
  transform: scale(1.35);
}
/* Partner badge */
a[src="https://cdn.discordapp.com/badge-icons/3f9748e53446a137a052f3454e2de41e.png"] {
  background-image: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/partner/partner.png");
  transition-delay: 2s;
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
  filter: contrast(1.35);
  zoom: 90%;
  transform: translateY(2.4px);
}
a:hover > img[src="https://cdn.discordapp.com/badge-icons/3f9748e53446a137a052f3454e2de41e.png"] {
  background-image: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/partner/partner.gif");
  transition-delay: 0s;
}
/* Moderator Programmes Alumni badge */
img[src="https://cdn.discordapp.com/badge-icons/fee1624003e2fee35cb398e125dc479b.png"] {
  transition-duration: 1.4s;
  transition-delay: 0.1s;
}
a:hover > img[src="https://cdn.discordapp.com/badge-icons/fee1624003e2fee35cb398e125dc479b.png"] {
  transform: rotateY(540deg) scale(1.2);
  transition-delay: 0s;
}
/* Original Username badge */
img[src="https://cdn.discordapp.com/badge-icons/6de6d34650760ba5551a79732e98ed60.png"] {
  transition-duration: 1.4s;
  transition-delay: 0.1s;
}
a:hover > img[src="https://cdn.discordapp.com/badge-icons/6de6d34650760ba5551a79732e98ed60.png"] {
  transform: rotateY(540deg) scale(1.2);
  transition-delay: 0s;
}
/* Bug hunter badges */
img[src="https://cdn.discordapp.com/badge-icons/848f79194d4be5ff5f81505cbd0ce1e6.png"],
img[src="/assets/46f6a28f462889f1a36cfca2591fcade.svg"] {
  transition-duration: 0.5s;
}
a:hover > img[src="https://cdn.discordapp.com/badge-icons/848f79194d4be5ff5f81505cbd0ce1e6.png"],
a:hover > img[src="/assets/46f6a28f462889f1a36cfca2591fcade.svg"] {
  transform: rotateY(180deg) rotate(-90deg);
}
/* Staff badge */
img[src="https://cdn.discordapp.com/badge-icons/5e74e9b61934fc1f67c65515d1f7e60d.png"] {
  transition-duration: 0.5s;
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url("https://cdn.discordapp.com/badge-icons/5e74e9b61934fc1f67c65515d1f7e60d.png");
}
a:hover > img[src="https://cdn.discordapp.com/badge-icons/5e74e9b61934fc1f67c65515d1f7e60d.png"] {
  transform: scale(1.1);
  filter: brightness(0.8) contrast(1.5) saturate(0.975);
  background-image: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/staff/staff.png");
}

/* Vencord Platform badges */
span.vc-platform-indicator > svg {
    transition-duration: 1.4s;
    transition-delay: 0.1s;
}
span.vc-platform-indicator:hover > svg {
    transform: rotateY(540deg) scale(1.2);
    transition-delay: 0s;
}

.warningCircleIcon-3R0DL,
.warningCircleIcon-mFju_mw {
  transition-duration: 0.2s;
  height: var(--badge-size);
  width: var(--badge-size);
  transform: scale(1);
}
.warningCircleIcon-1YXIHu:hover,
.warningCircleIcon-mFju_m:hover {
  transform: scale(1.5);
  animation: dance 0.82s 0.25s normal ease;
}
.warningCircleIcon-1YXIHu:hover path,
.warningCircleIcon-mFju_m:hover path {
  d: path(
    "M 10 0 Z M 9 4 H 11 V 11 H 9 V 4 Z M 10 15.25 C 9.31 15.25 8.75 14.691 8.75 14 C 8.75 13.31 9.31 12.75 10 12.75 C 10.69 12.75 11.25 13.31 11.25 14 C 11.25 14.691 10.69 15.25 10 15.25 Z"
  );
}
/* initialization */
a[href*="https://support.discord.com"]:after
{
  animation: initialize 2.75s 2 normal linear 4s;
  transform: translate(30000px);
  content: "hi";
  font-size: 22px;
  position: absolute;
}
@keyframes initialize {
  0% {
    background: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/partner/partner.gif");
  }
  20% {
    background: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/nitro/booster.gif");
  }
  40% {
    background: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/hype/events.gif");
  }
  60% {
    background: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/hype/bravery.png");
  }
  80% {
    background: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/hype/brilliance.png");
  }
  100% {
    background: url("https://sl4f.github.io/vencord/themes/betterbadges/src/img/hype/balance.png");
  }
}
.toolbar-3_r2xA::after {
  animation: devbadge 5.5s 2 4s normal linear;
  transform: translate(1000px);
  content: "hi";
  font-size: 22px;
  position: absolute;
}

/* badges everywhere */
.badges img,
.badges-XRnWAp img {
  height: var(--badges-everywhere-size) !important;
  width: var(--badges-everywhere-size) !important;
}
.badges img[src="/assets/d66ce47c4ab7817190af9544f97e98cc.svg"],
.badges img[src="/assets/f62be1ec9bdd82d3d77158ad81830e68.svg"],
.badges img[src="/assets/53828e0c0fb6676440ad11b5d2586241.svg"],
.badges img[src="/assets/f5354673c9cff61c1dcc70081ef774e5.svg"],
.badges > div:hover > img[src="/assets/877dc8bece1590e63fac6d5a0cd2a225.svg"],
.badges > div[aria-label*="HypeSquad"] > img,
.badges
  img[src="/assets/46f6a28f462889f1a36cfca2591fcade.svg"]
  .badges
  img[src="/assets/46f6a28f462889f1a36cfca2591fcade.svg"] {
  padding: var(--badges-everywhere-size) var(--badges-everywhere-size) 0px 0px;
  overflow: hidden;
}
.badges img[src="/assets/53828e0c0fb6676440ad11b5d2586241.svg"] {
  transform: translate(1px, 0.3px);
}
.badges > div[aria-label*="Early Supporter"]:hover::after {
  font-size: calc(var(--badges-everywhere-size) * 0.5454);
  transform: scale(1) translate(10.5px, -15.5px);
}
.badges img[src="/assets/1d3c9e1123aee11a325af328609d1274.svg"],
.badges img[src="/assets/dd50d32cf4fee241b2fa022d8c0435ae.svg"],
.badges img[src="/assets/7294cc730410a1caeceeca736f800b42.svg"],
.badges img[src="/assets/ce54a4f8c0e133a6f2d60336e7acac7d.svg"],
.badges img[src="/assets/c0c9db2de008e61a1a720581ca175fa1.svg"],
.badges img[src="/assets/556158300f0dca136d3c902586ff1316.svg"],
.badges img[src="/assets/ba38c1c57dfccb94127e53b7ac502a90.svg"],
.badges img[src="/assets/42ecb902decfc8e83a7446a0904b1e18.svg"],
.badges img[src="/assets/496aa1174817ec391612f745dc8e0725.svg"] {
  height: calc(var(--badges-everywhere-size) - 1.9px) !important;
  width: calc(var(--badges-everywhere-size) - 1.9px) !important;
  transform: translateY(1.2px);
  overflow: visible;
}
.badges-XRnWAp img[src="/assets/1d3c9e1123aee11a325af328609d1274.svg"],
.badges-XRnWAp img[src="/assets/dd50d32cf4fee241b2fa022d8c0435ae.svg"],
.badges-XRnWAp img[src="/assets/7294cc730410a1caeceeca736f800b42.svg"],
.badges-XRnWAp img[src="/assets/ce54a4f8c0e133a6f2d60336e7acac7d.svg"],
.badges-XRnWAp img[src="/assets/c0c9db2de008e61a1a720581ca175fa1.svg"],
.badges-XRnWAp img[src="/assets/556158300f0dca136d3c902586ff1316.svg"],
.badges-XRnWAp img[src="/assets/ba38c1c57dfccb94127e53b7ac502a90.svg"],
.badges-XRnWAp img[src="/assets/42ecb902decfc8e83a7446a0904b1e18.svg"],
.badges-XRnWAp img[src="/assets/496aa1174817ec391612f745dc8e0725.svg"] {
  height: calc(var(--badges-everywhere-size) - 1.9px) !important;
  width: calc(var(--badges-everywhere-size) - 1.9px) !important;
  padding: 0px 0px 0px 0px;
  overflow: visible;
}
.badges-XRnWAp img[src="/assets/d66ce47c4ab7817190af9544f97e98cc.svg"],
.badges-XRnWAp img[src="/assets/f62be1ec9bdd82d3d77158ad81830e68.svg"],
.badges-XRnWAp img[src="/assets/53828e0c0fb6676440ad11b5d2586241.svg"],
.badges-XRnWAp img[src="/assets/f5354673c9cff61c1dcc70081ef774e5.svg"],
.badges-XRnWAp
  > div:hover
  > img[src="/assets/877dc8bece1590e63fac6d5a0cd2a225.svg"],
.badges-XRnWAp > div[aria-label*="HypeSquad"] > img,
.badges-XRnWAp
  img[src="/assets/46f6a28f462889f1a36cfca2591fcade.svg"]
  .badges-XRnWAp
  img[src="/assets/46f6a28f462889f1a36cfca2591fcade.svg"] {
  padding: var(--badges-everywhere-size) var(--badges-everywhere-size) 0px 0px;
  overflow: hidden;
}
.badges-XRnWAp img[src="/assets/53828e0c0fb6676440ad11b5d2586241.svg"] {
  transform: translate(1px, 0.3px);
}
.badges-XRnWAp [src="/assets/473dadec13ab7e90e209cc60fccb31c5.svg"],
.badges-XRnWAp [src="/assets/995ecfdbdf94ad84dd4d802c104e4630.svg"],
.badges-XRnWAp [src="/assets/58f11abcf3c13812bff969baaeb84d82.svg"] {
  transition-duration: 0.4s;
  transform: scale(1.15);
  padding: var(--badges-everywhere-size) var(--badges-everywhere-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
}
/* coolkid */
.userPopout-2j1gM4[aria-label="mr_miner"] .headerText-1-WmDq::after {
  content: "Better Badges Dev";
  font-size: 13px;
  -webkit-text-fill-color: rgb(226, 117, 253);
  font-family: "Slabo 13px", sans-serif;
  font-weight: 500;
}
.userPopout-2j1gM4[aria-label="mr_miner"]
  .headerTagDiscriminatorNoNickname-dfcvHa:after {
  content: "" !important;
}

/* coolkid2 */
.animatorRight-3o3AYV .translate-2vghI- .didRender-2dwLEv div[aria-label="sl4f"] .userText-1_v2Cq::after {
  content: "Better Badges Dev";
  font-size: 13px;
  -webkit-text-fill-color: rgb(195, 0, 0);
  font-family: "Slabo 13px", sans-serif;
  font-weight: 500;
}