/* Theme Warnings */
@keyframes settingsflash {
    0% {
      box-shadow: 0 2px 10px rgba(240, 71, 71, 0.2),
        0 0 0 2px rgba(240, 70, 70, 0.3);
    }
  
    70% {
      box-shadow: 0 0 20px 15px rgba(240, 71, 71, 0.1),
        0 0 0 6px rgba(240, 70, 70, 0.2);
    }
  
    100% {
      box-shadow: 0 0 20px 15px rgba(240, 71, 71, 0),
        0 0 0 6px rgba(240, 24, 70, 0.1);
    }
  }
  .theme-light .layer-86YKbF:first-of-type::before {
    content: "This theme only support dark mode. To enable it, go into Settings -> Appearance"; /* Warning Text */
  
    position: fixed;
    text-align: center;
    width: 400px;
    height: 30px;
    top: 50%;
    left: 50%;
    background: var(--background-secondary); /* Inner Color */
  
    transform: translate(-50%, -50%); /* Text Color */
  
    color: #ffffff;
    padding: 17px 16px 20px 13.5px;
    box-shadow: 0 2px 10px rgba(240, 71, 71, 0.22);
    border: 2.5px solid #f04747;
    border-radius: 4px;
    z-index: 2;
  }
  .theme-light .app-2CXKsg .layer-86YKbF:first-of-type *::before, .theme-light .app-2CXKsg .layer-86YKbF:first-of-type *::after, .theme-light .app-2CXKsg .layer-86YKbF:first-of-type * {
    visibility: hidden !important;
  }
  .theme-light .app-2CXKsg .layer-86YKbF:first-of-type {
    background-color: var(--background-primary) !important; /* Color Behind Warning */
  }
  .theme-light .preview-rua1rr.cardPrimaryOutline-1ofwVz+.marginTop40-Q4o1tS .radioGroup-1GBvlr .cardPrimaryEditable-2mz_3i:first-of-type,
    .theme-light .preview-rua1rr.cardPrimaryOutline-1ofwVz+.marginTop40-Q4o1tS .radioGroup-1GBvlr .item-2idW98:first-of-type {
    animation: settingsflash 1s ease infinite;
    background: #f04747;
    border-color: #f04747;
  }
  .theme-light .preview-rua1rr.cardPrimaryOutline-1ofwVz+.marginTop40-Q4o1tS .radioGroup-1GBvlr .cardPrimaryEditable-2mz_3i:first-of-type,
  .theme-light .preview-rua1rr.cardPrimaryOutline-1ofwVz+.marginTop40-Q4o1tS .radioGroup-1GBvlr .item-2idW98:first-of-type {
    animation: settingsflash 1s ease infinite;
    background: #f04747;
    border-color: #f04747;
    color: #ffffff;
  }
  .theme-light .app-2CXKsg .container-YkUktl > .noWrap-hBpHBz > .button-12Fmur:nth-child(3) {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 70px;
    width: 220px;
    height: 40px;
    visibility: visible !important;
    background: #f04747 !important; /* Container Color */
    border-radius: 4px;
    animation: settingsflash 1s ease infinite;
    opacity: 1;
  }
  .theme-light .app-2CXKsg .container-YkUktl > .noWrap-hBpHBz > .button-12Fmur:nth-child(3)::before {
    position: absolute;
    content: "GO TO SETTINGS";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 14px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible !important;
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
  }
  .theme-light [aria-controls="Appearance-tab"] {
    border: 2px solid #f04747;
    animation: settingsflash 1s ease infinite;
  }
  
  .theme-light .children-1xdcWE > .marginTop40-Q4o1tS:nth-child(2) > div > div[tabindex="-1"]:not(:nth-child(3)) {
    border: 2px solid #f04747;
    animation: settingsflash 1s ease infinite;
  }