/* User Role List Category Group Labels */
.members__9f47b .membersGroup__85843 {
    width: calc(var(--User-List-Width) - 16px);
    font-family: var(--font-display);
    font-size: 12px;
    height: 30px;
    margin: 0px 0px 6px 8px;
    padding: 10px 0px 0px 0px;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--channels-default);
  }
  .membersGroup__85843::after {
    content: "";
    display: block;
    width: 210px;
    height: 1px;
    left: 7px;
    margin-top: 4px;
    background: var(--channels-default);
    position: absolute;
  }
