/* watermark */
#app-mount .info-3pQQBb .line-18uChy:first-child:before {
    content: "Theme by SL4F" !important;
	display: flex !important;
	opacity: 1 !important;
	padding: 0 !important;
	margin: 0 !important;
	cursor: pointer !important;
}