/**
* @name Better Badges
* @author SL4F (original by mr_miner#6969)
* @version 1.3.0
* @description A theme which adds cool animations to discord's badges!
* @source https://github.com/SL4F/vencord/tree/main/themes/betterbadges
* @updateUrl https://sl4f.github.io/vencord/themes/betterbadges/betterbadges.css
*/

@import url('https://sl4f.github.io/vencord/themes/betterbadges/src/DarkBadges.css');
:root{
    --badge-size: 22px; /*discord defualt = 18px, theme defualt = 22px;*/
    --badge-margin: 1.5px; /*discord default = 2px, theme defualt = 1.5px*/
    --badges-everywhere-size: 15px; /*default = 15px*/
}